project:
  type: website
editor: source
website:
  favicon: /images/NEOF_favicon.png
  page-navigation: true
  title: Advanced R community analysis
  description: NEOF advanced R community analysis workshop site
  navbar:
    title: Adv. R comm
    collapse-below: lg
    left:
    - text: Overview
      href: index.qmd
    - text: Setup
      href: setup/setup.qmd
    - text: Divergence
      href: divergence/divergence.qmd
    - text: Upset
      href: upset/upset.qmd
    right:
    - icon: house-fill
      href: https://neof.org.uk/training/
      aria-label: Neof website
    - icon: linkedin
      href: https://www.linkedin.com/in/training-neof/
      aria-label: LinkedIn
    - icon: bluesky
      href: https://bsky.app/profile/nerc-eof.bsky.social
      aria-label: Bluesky
  page-footer:
    left: |
      [![](https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png){fig-alt="CC BY-SA 4.0" height=30px}](https://creativecommons.org/licenses/by-nc-sa/4.0/)
    center: |
      [![](/images/NEOF_rounded_corners.png){fig-alt="NEOF" height=60px}](https://neof.org.uk/)
  sidebar:
  - id: Overview
    title: Overview
    style: floating
    align: left
    contents:
    - href: index.qmd
  - id: Setup
    title: Setup
    style: floating
    collapse-level: 2
    align: left
    contents:
    - href: setup/setup.qmd
  - id: Divergence
    title: Divergence
    style: floating
    collapse-level: 2
    align: left
    contents:
    - href: divergence/divergence.qmd
    - section: "Setup"
      contents: 
      - href: divergence/data_and_setup.qmd
    - section: "Data format"
      contents:
      - href: divergence/divergence_data_format.qmd
  - id: Upset
    title: Upset
    style: floating
    collapse-level: 2
    align: left
    contents:
    - href: upset/upset.qmd
    - section: "Setup"
      contents: 
      - href: upset/data_and_setup.qmd
      - href: upset/simple_bar_chart.qmd
    - section: "Data format"
      contents:
      - href: upset/upset_data_format.qmd
      - href: upset/phyloseq_to_tibble.qmd
      - href: upset/upset_tibble_creation.qmd
    - section: "Upset plots"
      contents:
      - href: upset/upset_plot.qmd
      - href: upset/all_in_one_code.qmd
      - href: upset/challenge_1.qmd
    - section: "Lower taxa levels"
      contents:
      - href: upset/rare_removal_plot.qmd
      - href: upset/rare_upset_plot.qmd
    - section: "Metadata intersections"
      contents:
      - href: upset/metadata_sets.qmd
      - href: upset/sample_and_taxa.qmd
      - href: upset/metadata_and_taxa.qmd
      - href: upset/metadata_upset_plot.qmd
      - href: upset/media_genus_upset.qmd
      - href: upset/challenge_2.qmd
format:
  html:
    fig-width: 10.2
    fig-height: 6
    grid:
      sidebar-width: 200px
      body-width: 1000px
      margin-width: 200px
      gutter-width: 0.75em
    css: include/webex.css
    include-after-body: include/webex.js
    theme:
      light:
      - cosmo
      - styles.scss
      dark:
      - darkly
      - styles_dark.scss
    embed-resources: false
    toc: true
    mainfont: Lexend